<div class="form-row">
  <button type="button" class="btn btn-dark" (click)="onColorAdd()" [matTooltip]="'Add Color'"><mat-icon>add</mat-icon></button>
  <button type="button" class="btn btn-dark" (click)="onSaveColors()" [matTooltip]="'Save Color'"><mat-icon>save</mat-icon></button>
  <button type="button" class="btn btn-dark" (click)="onDeleteColor()" [matTooltip]="'Delete Color'"><mat-icon>delete</mat-icon></button>
  <button type="button" class="btn btn-dark" (click)="onRenameColor(currentColorName)" [matTooltip]="'Rename Color'"><mat-icon>edit</mat-icon></button>
</div>

<hr>

<div class="row">
  <div class="rounded-circle color"
       *ngFor="let color of currentColorModel.colors | keyvalue"
       (click)="onColorSelect(color)"
       [ngClass]="{'active' : color.key === currentColorName}"
       [style.backgroundColor]="color.key">
  </div>
</div>

<hr>

<label for="hue">Hue</label>
<input type="range" class="custom-range"
       [(ngModel)]="currentColorModel.currentColor.hue"
       min="0" max="360" id="hue">

<label for="saturate">Saturate</label>
<input type="range" class="custom-range"
       [(ngModel)]="currentColorModel.currentColor.saturate"
       min="0" max="300" id="saturate">

<label for="contrast">Contrast</label>
<input type="range" class="custom-range"
       [(ngModel)]="currentColorModel.currentColor.contrast"
       min="0" max="300" id="contrast">

<label for="brightness">Brightness</label>
<input type="range" class="custom-range"
       [(ngModel)]="currentColorModel.currentColor.brightness"
       min="0" max="3" step="0.1" id="brightness">

<label for="grayScale">Gray scale</label>
<input type="range" class="custom-range"
       [(ngModel)]="currentColorModel.currentColor.grayscale"
       min="0" max="100" id="grayScale">

<label for="sepia">Sepia</label>
<input type="range" class="custom-range"
       [(ngModel)]="currentColorModel.currentColor.sepia"
       min="0" max="100" id="sepia">
