.modal-content input, select {
  width: 100%;
  margin: 15px;
  border: 1px solid black;
}

button {
  width: 25%;
}

mat-icon {
  cursor: pointer;
}

td.mat-cell, td.mat-footer-cell, th.mat-header-cell {
  padding: 15px;
}

.table-row-img {
  border-radius: 15px;
  height: 50px;
}

.color-img {
  height: 30px;
  width: 30px;
}
