.icon-360 {
  height: 38px;
  width: 3rem;
}

img {
  width: auto;
  height: auto;
  max-width: 700px;
  max-height: 700px;
  cursor: pointer;
  display: block;
  margin: auto;
}

.angle-range {
  display: block;
  margin: auto;
}
